{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container fluid d-flex flex-column my-3">
      <div class="">
      </div>
      <div class="container my-2">
        <h1 class="display-4">Cambios y devoluciones</h1>
      </div>
      <div class="container my-2">
        <h2 class="font-weight-light">CÓMO DEVOLVER</h2>
      </div>
      <div class="container my-2 text-justify">
        Si deseas realizar la devolución de un artículo comprado en Changewear.com,
         dispones de 30 días desde la fecha de envío de tu pedido para hacerlo de forma gratuita.
          Los artículos deben conservar todas las etiquetas y estar en perfecto estado.
      </div>
      <div class="container my-2">
        <h2 class="font-weight-light">CÓMO CAMBIAR</h2>
      </div>
      <div class="container my-2 text-justify">
        Dispones de 30 días desde la fecha de envío para realizar un cambio de tu compra de Changewear.com de manera GRATUITA.
        Puedes cambiar la talla o color de tus artículos. Si prefieres un cambio por otra prenda diferente deberás solicitar una devolución y realizar una nueva compra.

        Cambiar un artículo comprado en Changewear.com es muy sencillo. Acércate a una tienda Changewear que tenga la misma sección a la que pertenece el artículo con el ticket de compra en papel o en formato electrónico.

        Puedes encontrar más información acerca de la Política de Cambios y Devoluciones.
      </div>
      <div class="container my-2">
        <h2 class="font-weight-light">REEMBOLSO</h2>
      </div>
      <div class="container my-2 text-justify">
        El reembolso se realizará en la misma forma de pago que hayas utilizado para tu compra. Si el método de pago original no está disponible o en caso de pago con Redcompra,
         devoluciones de precios con decimales y devoluciones inferiores a 10CLP, te ofreceremos la opción de devolución en tarjeta abono online o bien en forma de transferencia bancaria.

        Recuerda que la tarjeta abono online podrás utilizarla para futuras compras online y que tiene una duración de 3 años desde la fecha de emisión.

        Recibirás la confirmación de la devolución por email una vez que ésta haya sido realizada.

        Si pasan más de 20 días y no tienes el reembolso en tu cuenta, por favor utiliza esta confirmación para presentarla en tu entidad bancaria y que así te puedan ayudar a agilizar el proceso.
      </div>
    </div>
    <div class="container d-flex justify-content-center my-2">
      <div class="col-12">
        <div class="row my-sm-2 my-md-2">
          <div class="col-sm ">
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}