{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

<main>

    <!-- El formulario esta super apretado y estoy tratando de enteder porque-->
    <!-- Faltan las funciones del formulario-->

  <div class="container">
    <h3 class="display-4 mt-2">¡Contáctanos!</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="d-flex flex-column">
            <label for="email_contacto">Correo electronico</label>
            <input type="email" name="email_contacto" id="email_contacto">
            <label for="nombre_contacto">Nombre</label>
            <input type="text" name="nombre_contacto" id="nombre_contacto">
            <label for="comentario_contacto">Comentario</label>
            <textarea class="message" type="text" name="comentario_contacto" id="comentario_contacto"></textarea>
            <button type="submit" class="btn btn-dark my-3">Enviar</button>
        </div>
    </form>
    {% for message in messages%}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endfor %}
</div>
</main>
{% endblock %}
