{% load static %}

<footer class="bg-dark text-white my-0 mx-0 pt-4 pb-2 main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md">
          
              <img src="{% static 'img/logo.png'%}" class="img-fluid" alt=""/>
           
        </div>
        <div class="col-md">
          <h6 class="text-uppercase text-warning">Sobre nosotros</h6>
          <ul class="mb-0 pb-2">
              <!-- TODO : Links cuando las paginas esten listas-->
            <li class="text">
              <a class="nav-link" href="{% url 'vision_page'%}">Nuestra visión</a>
            </li>
            <li class="text">
              <a class="nav-link" href="{% url 'empleo_page'%}">Empleo</a>
            </li>
            
          </ul>
        </div>
        <div class="col-md">
          <h6 class="text-uppercase text-warning">Obtener ayuda</h6>
          <ul class="mb-0 pb-2">
            <li class="text">
              <a class="nav-link" href="{% url 'preguntas_frecuentes'%}">FAQ</a>
            </li>
            <li class="text">
              <a class="nav-link" href="{% url 'cambios_page'%}">Cambios y devoluciones</a>
            </li>
            <li class="text">
              <a class="nav-link" href="{% url 'contacto_page'%}">Contáctanos</a>
            </li>
            
          </ul>
        </div>
      </div>
      <hr class="footer-hr my-2 py-0" />
      <div class="row">
        <div class="col-4 text-left">
          <a href="https://www.twitter.com"><i class="fab fa-twitter mx-1 text-info"></i></a>
          <a href="https://www.facebook.com"><i class="fab fa-facebook-f mx-1 text-info"></i></a>
          <a href="https://www.instagram.com"><i class="fab fa-instagram mx-1 text-info"></i></a>
        </div>
        <div class="col-8 text-right copyright">
          
          Todos los derechos reservados.
          <a href="{% url 'poblar_bd' %}" class="btn btn-info btn-sm">Poblar BD</a>
        </div>
      </div>
    </div>
  </footer>