{% extends 'pages/base.html' %}
{% load static %}

{% block content %}


<main>
    <div class="container fluid d-flex flex-column my-3">
      <div class="">
      </div>
      <img class="image" src="../media/Medios-de-Pago-Digitales.jpg">
      <div class="container my-2">
        <h2 class="font-weight-light">Contamos variadas formas de pago para garantizar tu seguridad al momento de tu compra</h2>
      </div>

    <div class="container d-flex justify-content-center my-2">
      <div class="col-12">
        <div class="row my-sm-2 my-md-2">
          <div class="col-sm ">
            <img class="image" src="../media/webpay.png">
          </div>

          <div class="col-sm">
            <div class="col-sm">


              <p class="text-justify">
                
              </p>
            </div>
          </div>
        </div>
        <div class="row my-sm-2 my-md-2">
          <div class="col-sm ">
            <div class="col-sm">
     
              <p class="pa"></p>
              <p class="text-justify">
                Tambien con informar que trabajamos con los seguientes servicios de envio:                             
              </p>
              <img class="image" src="../media/stark.png">
              <img class="image" src="../media/blue.png">
              <img class="image" src="../media/chex.png">
            </div>
          </div>
          <div class="col-sm">

          </div>
        </div>
      </div>
    </div>
  </main>

 {% endblock %}