{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container ">
        <div class="container border rounded shadow my-2">
            
            {% if form.instance.id == None %}
                <h1>Agregar producto</h1>
            {%else%}
                <h1>Editar producto</h1>
            {%endif%}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex flex-column">
                    <label for="{{form.titulo.name}}" class="form-label">Titulo</label>
                    {{form.titulo}}
                    <label for="{{form.precio.name}}" class="form-label">Precio</label>
                    {{form.precio}}
                    <label for="{{form.categoria.name}}" class="form-label">Categoria</label>
                    {{form.categoria}}
                    <label for="{{form.descripcion.name}}" class="form-label">Descripcion</label>
                    {{form.descripcion}}
                    {% if form.instance.id == None %}
                    <label for="{{form.imagen.name}}" class="form-label">Imagen</label>
                    {{form.imagen}}
                    {%else%}   
                    <div class="row my-2">
                        <div class="col my-auto">
                            <label for="{{form.imagen.name}}" class="form-label">Imagen</label>
                            {{form.imagen}}
                        </div>
                        <div class="col-3">
                            <img src="{{form.instance.imagen.url}}" alt="" class="img-fluid ">
                        </div>
                    </div>
                    {%endif%}
                    <button type="submit" class="btn btn-primary my-2">Agregar</button>
                </div>
            </form>
        </div>
        {% for message in messages%}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
