{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container fluid d-flex flex-column my-3">
      <div class="">
      </div>
      <div class="container my-2">
        <h1 class="display-4">Preguntas Frecuentes</h1>
      </div>
      <div class="container my-2">
        <h2 class="font-weight-light">¿Cuál es el horario de atención y Servicio al Cliente?</h2>
      </div>
      <div class="container my-2 text-justify">
        El horario de atención es de lunes a sábado de 09:00 a 23:00 hrs. Domingo y festivos de 09:00 a 22:00 hrs. El horario de Servicio al Cliente es de lunes a sábado de 09:00 a 18:00 hrs.
      </div>
      <div class="container my-2">
        <h2 class="font-weight-light">¿Qué puedo hacer si el producto que compré falla?</h2>
      </div>
      <div class="container my-2 text-justify">
        Si el producto presenta una falla dentro de los primeros 3 meses posteriores a la compra o dentro del periodo de cobertura por parte del fabricante podrás llevarlo a nuestros especialistas en cualquier tienda ChangeWear. También puedes llamar a nuestro Servicio al Cliente, +569 0303 4566 para programar la visita de nuestros especialistas o del proveedor, o contactar de forma directa a los Servicios Técnicos.
      </div>
      <div class="container my-2">
        <h2 class="font-weight-light">¿Los productos que compro a través de Venta Online tienen la misma garantía de compra en tienda?</h2>
      </div>
      <div class="container my-2 text-justify">
        Sí, todos los productos que compres a través de ChangeWear.com cuentan con Satisfacción Garantizada. Tienes 30 días para cambiar o devolver el producto que compraste sin ningún costo. Para acceder a esta garantía, el producto debe estar sin uso, con sus sellos y embalaje original, en perfectas condiciones y con los accesorios y regalos promocionales que estuvieron asociados a la compra.
      </div>
    </div>
  </main>
{% endblock %}