{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container fluid d-flex flex-column my-3">
      <div class="">
      </div>
      <div class="container my-2">
        <h1 class="display-4">Nuestra visión</h1>
      </div>
      <div class="container my-2">
        <h2 class="font-weight-light">Acerca de Nosotros</h2>
      </div>
      <div class="container my-2 text-justify">
        Somos unos emprendedores comprometidos en entregar un alto standar en nuestros productos, ofreciendo calidad , oferta y buenas marcas.
      </div>
    </div>
    <div class="container d-flex justify-content-center my-2">
      <div class="col-12">
        <div class="row my-sm-2 my-md-2">
          <div class="col-sm ">
            <div class="col-sm d-flex justify-content-center my-sm-4">
              <i class="fas fa-medal fa-5x border border-dark rounded-circle p-5"></i>
            </div>
          </div>
          <div class="col-sm">
            <div class="col-sm">
              <h4>Calidad</h4>
              <p class="pa"></p>
              <p class="text-justify">
                Ofrecemos la mejor calidad de textiles a los mejores precios del mercado, nuestra garantia es siempre entregar calidad y estilos adaptados al dia de hoy.
              </p>
            </div>
          </div>
        </div>
        <div class="row my-sm-2 my-md-2">
          <div class="col-sm ">
            <div class="col-sm">
              <h4>Compromiso ecológico</h4>
              <p class="pa"></p>
              <p class="text-justify">
                Trabajamos con proveedores que velan en diseñar sus textiles amigables para el medio ambiente.
              </p>
            </div>
          </div>
          <div class="col-sm">
            <div class="col-sm d-flex justify-content-center my-sm-4">
              <i style="color: green;" class="fas fa-leaf fa-5x border border-success rounded-circle p-5"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
